.newblogList {
  background-color: #0c0c0c;
}
.newblogList .blogListContainer {
  padding: 225px 130px 40px 130px;
}
.newblogList .blogListContainer .filterBtns {
  direction: rtl;
}
.newblogList .blogListContainer .filterBtns ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 65px;
       column-gap: 65px;
  padding: 0;
}
.newblogList .blogListContainer .filterBtns ul li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  position: relative;
  opacity: 0.5;
  transition: 0.5s ease;
}
.newblogList .blogListContainer .filterBtns ul li .imgS {
  cursor: pointer;
}
.newblogList .blogListContainer .filterBtns ul li .imgS object {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  pointer-events: none;
}
.newblogList .blogListContainer .filterBtns ul li .imgS svg {
  position: relative;
  z-index: -1;
}
.newblogList .blogListContainer .filterBtns ul li h2 {
  transition: 0.5s ease;
  margin: 0;
  margin-top: 9px;
  font-family: Cairo-SemiBold;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 26.24px;
  text-align: center;
}
.newblogList .blogListContainer .filterBtns ul li:first-child::after {
  content: "";
  height: 100%;
  background-color: white;
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -33px;
}
.newblogList .blogListContainer .filterBtns ul .activeList {
  opacity: 1;
}
.newblogList .blogListContainer .filterBtns ul .activeList h2 {
  text-decoration: underline !important;
}
.newblogList .blogListContainer .blogListBoxContainer {
  direction: rtl;
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: right;
  grid-template-columns: repeat(3, 1fr);
}
.newblogList .blogListContainer .blogListBoxContainer .blogBox {
  width: 31.4%;
}
.newblogList .blogListContainer .blogListBoxContainer .blogBox:hover .details {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.newblogList .blogListContainer .blogListBoxContainer .blogBox:hover .imgS img {
  filter: grayscale(0);
}
.newblogList .blogListContainer .blogListBoxContainer a {
  text-decoration: none;
}
.newblogList .blogListContainer .blogListBoxContainer a .imgS img {
  width: 100%;
  filter: grayscale(1);
  transition: 0.5s;
}
.newblogList .blogListContainer .blogListBoxContainer a .details {
  background-color: #1a1a1a;
  margin-top: 9px;
  position: relative;
  opacity: 0;
  transform: translateY(-100%);
  padding: 5px;
  transition: 0.5s ease;
}
.newblogList .blogListContainer .blogListBoxContainer a .details .blogTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}
.newblogList .blogListContainer .blogListBoxContainer a .details .blogTitle h1 {
  font-family: Cairo-Black;
  margin: 0;
  font-size: 18px;
  line-height: 33.73px;
  text-align: right;
  color: white;
}
.newblogList .blogListContainer .blogListBoxContainer a .details .blogTitle span {
  font-family: Cairo-ExtraLight;
  font-size: 11px;
  font-weight: 200;
  line-height: 20.61px;
  text-align: left;
  color: white;
}
.newblogList .blogListContainer .blogListBoxContainer a .details .para p {
  margin: 0;
  direction: rtl;
  font-family: Cairo-Light;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
  font-weight: 300;
  line-height: 22.49px;
  text-align: justify;
  color: white;
}

body {
  margin: 0;
}/*# sourceMappingURL=newBlog.css.map */